* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #070707;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
}
