.skills {
  padding: 91px 0 110px;
}

.skills__title {
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  text-transform: capitalize;
}

.skills__subtitle {
  margin: 69px 0 83px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.skills__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.skills__icon {
  text-align: center;
}

.item__name {
  margin: 24px auto 40px;
  max-width: 80px;
  height: 27px;
  font-family: "GilroyBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
