* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #070707;
  background-color: #ffffff;
  font-family: "GilroyMedium", sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
}
